

.Square {
  width: 100px;
  height: 100px;
  border: 0;
  background-color: #fff;
  color: #374151;
  font-size: 2rem;
  border: 1px solid #d2d6dc;
  font-weight: bold;

}

.status{
  color: white;
}

.Square:hover{
  cursor: pointer;
  background: rgb(215, 215, 215);
}

.Board {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Row{
  display: flex
}

.Reset{
  margin-top: 1rem;
  border: 1px solid #d2d6dc;
  color: #374151;
  font-size: 1.25 rem;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.Reset:hover{
  transform: scale(1.02);
  background: rgb(215, 215, 215);
}